/* styles.css */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.progress-layout {
  width: 995px;
  height: 250px;
  background: #ffffff;
  border-radius: 10px;
  display: flex;
}

.progress-profile {
  padding: 20px 50px 20px 40px;
  border-right: 1px solid #cfcdff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile-text {
  display: flex;
  flex-direction: row;
}

.progress {
  /* padding: auto; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.profile-text1 {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  color: #605af1;
}

.profile-text2 {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

.flex-all-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mission-layout {
  height: 8.6875rem;
  border: 0.125rem solid rgba(207, 205, 255, 1);
  border-radius: 0.625rem;
}

.tabMenu-active {
  padding: 0.75rem 0.9375rem;
  background-color: #ffffff;
  color: #605af1;
  font-weight: 600;
  cursor: pointer;
  border-radius: 0.625rem 0.625rem 0rem 0rem;
  box-shadow: 2px 0px 4px 0px rgba(159, 156, 240, 0.15);
}

.tabMenu {
  padding: 0.75rem 0.9375rem;
  background-color: #f2f2f2;
  color: #808080;
  cursor: pointer;
  border-radius: 0.625rem 0.625rem 0rem 0rem;
  box-shadow: 2px 0px 4px 0px rgba(159, 156, 240, 0.15);
}

.mission-modal-layout {
  border-radius: 0.625rem;
  background: #ffffff;
  height: 25rem;
  width: 25rem;
}

.task-layout {
  width: 465px;
  max-height: 148px;
  overflow-y: auto;
  left: 280px;
  top: 532px;
  min-height: 148px;

  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(159, 156, 240, 0.15);
  border-radius: 10px;
  padding: 30px;
}

.task-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.task-title {
  display: flex;
  flex-direction: row;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  height: auto;
  background: #8383eb;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background: rgba(194, 131, 223, 0.1);
}

.ranking-title {
  text-align: center;
  font-weight: 600;
  color: #464646;
  margin-bottom: 1.25rem;
}

.ranking-myRank {
  color: rgba(96, 90, 241, 1);
  font-weight: 600;
  font-size: 1.25rem;
}

.ranking-profile {
  position: relative;
  width: 1.625rem;
  height: 1.625rem;
  overflow: hidden;
  border-radius: 50%;
  img {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.ranking-myLevel {
  width: 1.125rem;
  height: 1.125rem;
  background-color: rgba(96, 90, 241, 1);
  color: white;
  font-weight: bold;
  border-radius: 4px;
}

.ranking-level {
  width: 1.125rem;
  height: 1.125rem;
  background-color: rgba(159, 156, 240, 1);
  color: white;
  font-weight: bold;
  border-radius: 4px;
}

.ranking-name {
  font-size: 1.125rem;
  font-weight: 600;
}

.flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
